*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   position: relative;
    width: 100%;
    height: 100vh;
}

.speaker{
    position: absolute;
    top: 15px;
    right: 40px;
    color: white;
    background-color: grey;
    padding: 3px;
    border-radius: 4px;

}

img{
    max-width: 100%;
}

.content {
    justify-content: space-between;
    height: calc(100% - 100px);
    background-color: black;
    display: flex;
    align-items: flex-start;
    object-fit: contain;
    overflow-y: scroll;
}

.row{
    
    row-gap: 5px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.toolbar {
    width: 100%;
    height: 100px;
    background-color: rgb(32, 31, 31);
    overflow:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col{
    width: calc(100% / 7 -10px);
    position: relative;
    
}

.name{
    position: absolute;
    bottom: 5px;
    left: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
}

h5{
    display: inline-block;
}

.left{
   display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}

.center{
    width: 100px;
    height: 70px;
    background-color: aqua;
}

.right{
    width: 100px;
    height: 70px;
    background-color: aqua;
}

