*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container{
    background-color: black;
    width: 100%;
    height: 100vh;
}

.users-container{
    width: 80%;
    height: calc(100% - 50px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% / 7 -10px); 

}

.col{
    height: 140px;
    
}

.toolbar{
    width: 100%;
    height: 50px;
    background-color: grey;
}
